version: '3.1'
volumes:
    dados:
services:
  db:
    image: postgres
    volumes:
        # Volume dos dados
        - dados:/var/lib/postgresql/data
        # Scripts
        - ./scripts:/scripts
        - ./scripts/init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      POSTGRES_PASSWORD: dasa
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
  app:
    build: ./
    ports:
      - 3000:3000
    depends_on:
      - db